body{
	font-family: 'Raleway', sans-serif;
	padding: 0px;
	margin: 0px;

	background-color: rgb(238, 238, 232);

    width: 100%;
    height: 100%;
    position: relative;
}

.container  {
	border:0;
	padding:0;
}


/*////////    NAV    ////////*/

.navbar {
	min-height: 40px; 
	margin:0px;
	border:0;
}

.navbar-nav > li > a {
	padding-top: 0px; 
	padding-bottom: 0px; 
	height: 40px;
	line-height: 40px;
}

.nav a {
	color: white;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}

.nav li {
	display: inline;
}

.nb  {
	background-image:url('nav bar background wood.jpg');

	padding-left: 2%;
	padding-right: 1%;
	width:100%;
	margin:0px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #ddd;
	background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}


/*////////    EACH SECTION/PAGE    ////////*/

.pageFrame	{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    display: table;
}

.content	{
	padding-top: 3%;
	display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.section	{
    height: 100vh;
    text-align: center;
}

.thisHeading  {
	font-weight:200;
}


/*////////    HOME    ////////*/

hr	{
	width:200px;
	background-color: rgba(0, 0, 0, .4);
	border: none;
    height: 1px;
}

#home span {
	font-size:44px;
	font-weight: 200;
}

#home p {
	font-size:12px;
}


/*////////    ABOUT    ////////*/

#about {
	height:100vh;
	text-align: center;
}

#holding  {
	display:inline-block;
	float: center;
}

#photo  {
	float:left;
}

#photo>img  {
	height:470px;
	float:right;
}

#para  {

	width:622px;
	height:470px;

	float:left;

	text-align: justify;
	font-size: 18px;
	font-family: 'font-family: ''Source Sans Pro', sans-serif;
	text-align: justify;
	font-weight: 300;

	padding-left:40px;
}


/*////////    PORTFOLIO    ////////*/

#portfolio {
	height:100vh;

	text-align: center;
}
/*in progress, may add different page for connect-4 or include it on this same page*/


/*////////    CONTACT    ////////*/

.lastPage	{
	height:70vh;
}

/* footer */

.footer {
  border-top: 1px solid #e5e5e5;
  background-color: #D5D5D5;
  height: 150px;
  float:bottom;
}

.footerContainer  {
	line-height: 150px;
	display: flex;
}

.footerContainer div  {
	width: 50%;
	text-align: center;
}

.footerContainer img  {
	height: 32px;
}


/*////////    MEDIA QUERIES    ////////*/

/*width upper bound for when screen gets too big*/
@media (min-width:1281px) {
	#contact>div  {
		padding-top: 5%;
	}

	.content  {
		padding-top:0;
	}
}

/*adjusting About div for screen height shrinkage*/
@media (min-height: 625px)  {
	#about>div  {
		padding-top: 1.5%;
	}
}

@media (min-height:680px)  {
	#about>div  {
		padding-top:0;
	}

	#contact>div  {
		padding-top: 5%;
	}

	.content  {
		padding-top:0;
	}
}

/*adjusting About div, maintaining height, expanding width*/
@media (min-height:980px) and (min-width:1281px)  {
	#contact  {
		height:85vh;
	}	

	#contact>div  {
		padding-top:0;
	}
}


/*once the screen width goes under "normal" width*/
@media (max-width: 1199px){

	#para {
		display: inline-block;
		width: 95%;
		height: 100%;
		float:center;
		padding-left: 0px;
	}

	#photo>img	{
		float:center;
	}

	#photo  {
		float: center;
		display: inline-block;
		padding-bottom:12px;
	}
}


/*image adjustment when shrinking window*/
@media (max-width:410px)  {
	#photo>img  {
		width:400px;
	}
}


/*adjusting About heading when only width is stretched*/
@media (min-width: 1281px) and (max-height:624px)  {
	#about  {
		padding-top:1.5%;
	}
}


/*adjusting About heading when width is shrinking*/
@media (max-width: 1199px)  {
	#about  {
		padding-top:1.5%;
	}
}

@media (max-width: 1199px)  and (min-height: 624px){
	#about  {
		padding-top: 3%;
	} 
}

@media (max-width: 768px)  and (min-height: 624px){
	#about  {
		padding-top: 6%;
	} 
}

@media  (max-width: 550px)  {
	#about  {
		padding-top:5%;
	}
}


/*mobile*/
@media (max-width:399px)  {
	#photo>img  {
		width:100%;
		height:100%;
	}

	.footerContainer>div {
		background-color: green;
		width:100%;
		display:block;
	}
}


/*centering home business card when window is being shrunk*/
@media (max-width:767px)  {
	.content  {
		padding-top:8%;
	}
}

@media (max-width:767px) and (max-height:400px)  {
	.content  {
		padding-top:14%;
	}
}